*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    text-decoration: none;
}
.header{
    background:#F8F8F8;
}
.header_content{
    padding-top: 10px;
    padding-bottom: 10px;
}
.header_content a{
    color: #1f201a;
}
.header_content a:hover{
    text-decoration:none ;
}
.header_logo img{
    /*width: 213px;*/
    /*height: 47px;*/
}
.header_logo{

}
.nav_main{
    background:#1f201a;
}
.navbar{
    margin-bottom: 0;
}
.navbar-brand{
    color: #ffffff;
}
.nav_list li a{
    color: #ffffff;
}
.toggle_img{
    background: url("../icon/navBar.png") no-repeat center;
    background-size: 100% 100%;
    width: 35px;
    height: 15px;
}
/*footer*/
.footer{
    width: 100%;
    height: auto;
    background:#1f201a;
    padding-top: 2%;
}
.weixing{
    width: 23%;
}
.footer_list{
    color: #ffffff;
    margin-top: 2%;
    font-size: 14px;
}
.footer_title{
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5%;
}
@media (max-width: 750px) {
    .toggle_img{
        background: url("../icon/navBar.png") no-repeat center;
        background-size: 100% 100%;
        width: 7px;
        height: 5px;
    }
    .footer_list{
       font-size: 10px;
    }
    .footer_title{
       font-size: 12px;
    }
}
/*在750和970像素之间的屏幕里,这里的样式才生效*/
@media (min-width: 750px) and (max-width: 970px) {

}
/*在970和1170像素之间的屏幕里,这里的样式才生效*/
@media (min-width: 970px) and (max-width: 1170px) {

}
/*在大于1170像素的屏幕里,这里的样式才生效*/
@media (min-width: 1170px) {

}
